.clock
{
    border-radius: 50%;
  margin-right: 20px;
  font-size: 20px;
  width: 220px;
  height:220px;
  padding: 70px 0;
  color: #ccc;
  text-height:211;
  text-align: center;
  font-family:'digital-clock-font';;
  background:black

}
.circle span {
    color: red;
    font-size: 22px;
    display: block
  }
  .clockheader{
      text-align: center;
  }

